
.title {
    font-size: 40px;
    font-family: 'Montserrat Alternates', sans-serif;
    /* font-family: 'Shadows Into Light', cursive; */
}

.link {
    text-decoration: none;
    color: #7161ef;
    font-weight: bold;
}

.link:hover {
    color: #86bbd8;
}

.checkEmail, .authenticating {
   text-align: center;

}
.sent{
    font-weight: 800;
}
.directions {
    font-size: 22px;
}

.hipaa,
.findDoc {
    text-align: center;
}

.questions,
.fees,
.hipaa,
.terms {
    margin: 0 5rem;
}

.contactTitle {
    text-align: center;
}

.submit:hover,
.feeBtn:hover {
    background-color: white !important;
    color: #6247aa !important;
}

.hhf,
.questions,
.findDoc,
.hipaa,
.fees,
.contact,
.terms {
    min-height: 80vh;

}