
.brand {
    font-size: 50px;
    font-family: 'Sansita Swashed', cursive;
    padding: 15px;
}

nav {
    font-size: 20px;
    color: #6247aa;
    cursor: pointer;
    background-color: #dec9e9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.navlink:hover {
    font-weight: 550;
    color:#6247aa;
}


.button {
    margin-left: 1px;
    border: solid 1px #6247aa;
    border-radius: 20px;
}

.button:hover {
    background-color: white;
    font-weight: 400;
}