.brand {
    font-family: 'Sansita Swashed', cursive;
    padding: 15px 15px 10px 15px;
    background-color: #dec9e9;
}

.smile,
.navlink {
    text-decoration: none;  
    color: #6247aa;  
}

.smile:hover {
    color: #ff87ab;
}

nav {
    font-size: 20px;
    color: #6247aa;
    cursor: pointer;
    background-color: #dec9e9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 10px 20px;
}

.navlink {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
}

.navlink:hover {
    font-weight: bold;
    color: #ff87ab;
}

.button {
    margin-left: 1px;
    border: solid 1px #6247aa;
    border-radius: 20px;
}

.button:hover {
    background-color: white;
    font-weight: 400;
}