.nav {
    background-color: #dec9e9;
}

.brand {
    font-size: 50px;
    font-family: 'Sansita Swashed', cursive;
    padding: 15px
}

#navLink {
    font-size: 18px;
    font-weight: bold;
    color: #6247aa;
    cursor: pointer;
}